body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 5px 0  15px -10px rgba(0, 1, 1, 0.2);
}

.content {
  width: 1056px;
  margin: 0 auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  margin-top: -85px;
  padding: 21px 0;

  list-style: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active,
.site-navigation a.hotels {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  line-height: 26px;

  background-color: #ffffff;
}

.intro-theme {
  width: 100%;
  margin-top: -15px;
  margin-bottom: 62px;

  background-color: #3b534b;
  background:
  url("../img/shape1.png"),
  url("../img/mountains.jpg");
  background-repeat:
  no-repeat;
  background-size:
  contain,
  contain;
  background-position:
  center 451px,
  top center;
}

.intro-theme img {
  padding: 76px 0 80px 0;
}

.intro-text {
  width: 490px;
  margin-bottom: 58px;
  padding: 0 355px;
}

b.intro-tagline {
  font-size: 21px;
  font-weight: 700;
}

.features-list,
.service-list{
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 58px;

  background-color: #eeeeee;
}

.box-item {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 62px;
}

.features-list h2,
.features-list h3 {
  padding: 0 138px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list p,
.service-item p {
  padding: 0 63px;
}

.features-list:nth-child(2) p {
  padding: 0 -4px;
}

.line-feature-item {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #ffffff;

  background-color: #81b3d2;
}

.line-feature-item h2 {
  font-weight: 700;
  color: #ffffff;
}

.feature-number::before,
.feature-number::after {
  content: "-";
}

.feature-photo {
  display: inline-block;
  width: 800px;
}

.feature-photo-1 {
  background-image: url("../img/sedona_view.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.feature-photo-2 {
  background-image: url("../img/bridge.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.service-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0;

  background-color:#ffffff;
}


.book {
  width: 1200;
}

.book-intro {
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 40px;
}

.book-intro h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.book-search {
  width: 568px;
  margin: 0 315px;

  position: absolute;
  z-index: 10;

  background: #ffffff;
  background-size: 481px;

  /** Временно для сетки **/
  min-height: 440px;
}



.map {
  margin-top: 87px;
  width: 100%;
  padding: 0;
  margin-bottom: -125px;
}

.button {
  text-transform: uppercase;
  font-weight: 700;

  background-color: #766357;
  border: none;
}

.button-search-form,
.button-show {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.button-book,
.button-more {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button-search-form,
.button-book {
  color: #ffffff;
}

.button-search-form:hover,
.button-search-form:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
  outline: none;
}

.button-search-form:active,
.button-book:active {
  background-color: #503e33;
  color: #cacaca;
}

.button-show,
.button-more {
  background-color: #81b3d2;
}

.button-show:hover,
.button-show:focus,
.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
  outline: none;
}

.button-show:active,
.button-more:active {
  background-color: #5496bd;
  color: #cacaca;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-form input[type="date"],
.search-form input[type="number"] {
  background-color: #f2f2f2;
  font-weight: 700;
  border: none;
}

.search-form input[type="date"]:hover,
.search-form input[type="date"]:focus {
  background-color: #ebebeb;
  outlin: none;
}

.search-form input[type="date"]:active {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.main-footer {
  position: absolute;
  z-index: 1;

  width: 1200px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.main-footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}

  .main-footer p {
  width: 400px;
}

.footer-social {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 400px;
  list-style: none;
}

.main-footer a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

a #twitter,
a #facebook,
a #youtube {
  fill: #ffffff;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

a:active #twitter,
a:active #facebook,
a:active #youtube {
  fill: #88b6d1;
}

.main-footer-logo {
  width: 400px;
}

a #htmlacademy {
  fill: #000000;
}

#htmlacademy {
  width: 115px;
}

a:hover #htmlacademy,
a:focus #htmlacademy {
  fill: #81b3d2;
}

a:active #htmlacademy {
  fill: #bdbbbc;
}



/* catalog */

.filters {
  width: 1200px;

  background-image: url("../img/bk-catalog.jpg");
  background-color: #5986ae;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  /* Временно для сетки */
  min-height: 218px;
  outline: 1px solid red;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filters .content {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки */
  min-height: 217px;
  outline: 1px solid yellow;
}

.filter-form {
  line-height: 21px;
  color: #ffffff;
}

.filter-list {
  padding: 0 39px;

  list-style: none;
}

.filter-list li {
  padding: 18px 0;
}

.filter-infrastructure {
  width: 241px;
  padding: 0;
  margin: 0;

  text-align: left;

  /* Временно для сетки */
  min-height: 217px;
  outline: 1px solid black;
}

.filter-type-hotel {
  width: 288px;
  padding: 0;
  margin: 0;

  text-align: left;

  /* Временно для сетки */
  min-height: 217px;
  outline: 1px solid brown;
}

.price-button {
  width: 328px;
  padding-right: 0;
  margin-left: 199px;

  text-align: center;

  /* Временно для сетки */
  min-height: 217px;
  outline: 1px solid blue;
}

.filter-show {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}



.catalog-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Временно для сетки */
  min-height: 86px;
  outline: 1px solid violet;
}

.catalog-sorting p {
  width:
}

.sorting {
  display: flex;
  margin-left: -400px;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 18px;

  /* Временно для сетки */
  min-height: 86px;
  outline: 1px solid green;
}

.sorting h3 {
  width: 135px;
}

.sorting-list {
  width: 288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;

  /* Временно для сетки */
  min-height: 86px;
  outline: 1px solid black;
}


.catalog p {
  text-align: left;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:hover,
.sorting a:focus,
.sorting-list a.sorting-by-price {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

a #sorting {
  fill: #bdbbbc;
}
a:hover #sorting,
a:focus #sorting {
  fill: #000000;
}

a:active #sorting {
  fill: #81b3d2;
}


.hotel-list {
  width: 1056px;
  margin: 0 auto;

  text-align: left;

  /* Временно для сетки */
  min-height: 250px;
  outline: 1px solid brown;
}

.hotel-photo {
  width: 135px;


  /* Временно для сетки */
  min-height: 90px;
  outline: 1px solid green;
}

.hotel-name {
  width: 681px;
  padding-left: 33px;
  height: 10px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;

  /* Временно для сетки */
  min-height: 15px;
  outline: 1px solid yellow;
}

.hotel-name a {
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #ebebeb;
}

.first-column {
  width: 111px;

  /* Временно для сетки */
  min-height: 25px;
  outline: 1px solid pink;
}

.second-column {
  width: 535px;

  /* Временно для сетки */
  min-height: 25px;
  outline: 1px solid black;
}

.type {
  padding-left: 30px;
}

.button-more {
  margin-left: 30px;
}

.hotel-list .button {
  padding: 4px 8px;

}


.hotel-raiting {
  width: 241px;
  padding-left: 33px;

  /* Временно для сетки */
  min-height: 54px;
  outline: 1px solid red;
}

.raiting {
  background-color: #f2f2f2;
  background-size: 111px 27px;
  background-position: right center;
  margin-left: 130px;

  text-align: center;

  /* Временно для сетки */
  min-height: 27px;
  outline: 1px solid blue;
}

.hotel-stars {
  width: 241px;
  padding-left: 33px;

  text-align: right;
  vertical-align: top;

  /* Временно для сетки */
  min-height: 94px;
  outline: 1px solid red;
}

.stars {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: repeat;
}

a:focus {
  outline: none;
}
