body {
  min-width: 1280px;
  min-height: 2762px;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 5px 0  15px -10px rgba(0, 1, 1, 0.2);
}

.main-header-logo {
  width: 138px;
  height: 70px;

/* Временно для сетки */
  outline: 1px solid orange;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin-top: -85px;
  margin-left: 73px;
  margin-right: 73px;
  padding: 21px 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 14px;
  outline: 1px solid red;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active,
.site-navigation a.hotels {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  line-height: 26px;

  background-color: #ffffff;
}

.intro-theme {
  width: 100%;
  margin-top: -15px;
  margin-bottom: 62px;

  background-color: #3b534b;
  background:
  url("../img/shape1.png"),
  url("../img/mountains.jpg");
  background-repeat:
  no-repeat;
  background-size:
  contain,
  contain;
  background-position:
  center 451px,
  top center;

  /* Временно для сетки */
  min-height: 508px;
  outline: 1px solid violet;
}

.intro {
  /* Временно для сетки */
  min-height: 688px;
  outline: 1px solid green;
}

.intro-theme img {
  padding: 76px 0 80px 0;
}

.intro-text {
  width: 490px;
  margin-bottom: 58px;
  padding: 0 355px;

  /* Временно для сетки */
  min-height: 209px;
  outline: 1px solid black;
}

b.intro-tagline {
  font-size: 21px;
  font-weight: 700;
}

.features-list,
.service-list{
  list-style: none;
}

.features {
  /* Временно для сетки */
  min-height: 74px;
  outline: 1px solid yellow;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 58px;

  background-color: #eeeeee;
}

.box-feature-item {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 62px;

  /* Временно для сетки */
  min-height: 146px;
  outline: 1px solid brown;
}

.features-list h2,
.features-list h3 {
  padding: 0 138px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list p,
.service-item p {
  padding: 0 63px;
}

.features-list:nth-child(2) p {
  padding: 0 -4px;
}

.line-feature-item {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #ffffff;

  background-color: #81b3d2;

  /* Временно для сетки */
  min-height: 146px;
  outline: 1px solid blue;
}

.line-feature-item h2 {
  font-weight: 700;
  color: #ffffff;
}

.feature-number::before,
.feature-number::after {
  content: "-";
}

.feature-photo {
  display: inline-block;
  width: 800px;

  /* Временно для сетки */
  min-height: 146px;
  outline: 2px solid grey;
}

.feature-photo-1 {
  background-image: url("../img/sedona_view.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.feature-photo-2 {
  background-image: url("../img/bridge.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.service-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 1200px;
  padding: 163px 0 87px 0px;

  background-color:#ffffff;

  /* Временно для сетки */
  min-height: 80px;
  outline: 1px solid #1fe9b2;
}

.book {
  width: 100%;
  /* Временно для сетки */
  min-height: 831px;
  outline: 1px solid #3e3157;
}

.book-search {
  width: 568px;
  margin: 0 315px;
  /* Временно для сетки */
  min-height: 484px;
  outline: 1px solid #766357;
}

.map {
  width: 100%px;
  margin-top: -396px;
  /* Временно для сетки */
  min-height: 474px;
  outline: 1px solid #cedead;
}

.book-intro {
  font-size: 14px;
  line-height: 24px;
}

.book-intro h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.button {
  text-transform: uppercase;
  font-weight: 700;

  background-color: #766357;
  border: none;
}

.button-search-form,
.button-show {
font-size: 21px;
line-height: 26px;
font-weight: 700;
color: #ffffff;
}

.button-book,
.button-more {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button-search-form,
.button-book {
  color: #ffffff;
}

.button-search-form:hover,
.button-search-form:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
  outline: none;
}

.button-search-form:active,
.button-book:active {
  background-color: #503e33;
  color: #cacaca;
}

.button-show,
.button-more {
  background-color: #81b3d2;
}

.button-show:hover,
.button-show:focus,
.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
  outline: none;
}

.button-show:active,
.button-more:active {
  background-color: #5496bd;
  color: #cacaca;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-form input[type="date"],
.search-form input[type="number"] {
  background-color: #f2f2f2;
  font-weight: 700;
  border: none;
}

.search-form input[type="date"]:hover,
.search-form input[type="date"]:focus {
  background-color: #ebebeb;
  outlin: none;
}

.search-form input[type="date"]:active {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.main-footer {
  display: flex;
  align-items: center;
  margin-top: -120px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 85px;
  outline: 1px solid #641273;
}

.main-footer p {
  width: 400px;
  /* Временно для сетки */
  outline: 1px solid #ffcccc;
}

.footer-social {
  width: 46px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 400px;
  list-style: none;

  /* Временно для сетки */
  min-height: 48px;
  outline: 1px solid #484e16;
}

.main-footer a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

a #twitter,
a #facebook,
a #youtube {
  fill: #ffffff;
}

.social-button {
  width: 46px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

a:active #twitter,
a:active #facebook,
a:active #youtube {
  fill: #88b6d1;
}

.main-footer-logo {
  width: 400px;
  /* Временно для сетки */
  min-height: 41px;
  outline: 1px solid #d41030;
}

a #htmlacademy {
  fill: #000000;
}

#htmlacademy {
  width: 115px;
}

a:hover #htmlacademy,
a:focus #htmlacademy {
  fill: #81b3d2;
}

a:active #htmlacademy {
  fill: #bdbbbc;
}



/* catalog */

.filter-form {
  line-height: 21px;
  color: #ffffff;

  background-image: url("../img/bk-catalog.jpg");
  background-color: #5986ae;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-list {
  list-style: none;
}

legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-show {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.catalog p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

.sorting a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:hover,
.sorting a:focus,
.sorting-list a.sorting-by-price {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

a #sorting {
  fill: #bdbbbc;
}
a:hover #sorting,
a:focus #sorting {
  fill: #000000;
}

a:active #sorting {
  fill: #81b3d2;
}


.hotel-list {
  text-align: left;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.hotel-name a {
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #ebebeb;
}

.hotel-raiting,
.hotel-stars {
  text-align: center;
}

.hotel-raiting {
  background-color: #f2f2f2;
}

.stars {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  repeat: repeat;
}


a:focus {
  outline: none;
}
