body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.content {
  width: 1056px;
  margin: 0 auto;
}

.main-header-wrapper {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 15px 0;

  list-style: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-current {
  color: #766357;
}

.intro {
  line-height: 26px;

  background-color: #ffffff;
  text-align: center;
}

.intro-theme {
  width: 100%;
  height: 508px;

  margin-bottom: 60px;

  background-color: #3b534b;
  background:
  url("../img/shape1.png"),
  url("../img/mountains.jpg");
  background-repeat:
  no-repeat;
  background-size:
  contain,
  contain;
  background-position:
  center 451px,
  top center;
}

.intro-theme img {
  margin: 76px 0 80px 0;
}

.intro-text {
  padding: 0px;
  width: 490px;
  margin-bottom: 20px;
  padding: 0 355px;
}

.intro-text p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

b.intro-tagline {
  font-size: 21px;
  font-weight: 700;
}

.features-list,
.service-list{
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 55px;

  background-color: #eeeeee;
}

.box-item {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 60px;

  text-align: center;
}

.features-list h2,
.features-list h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 120px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.feature-number {
  margin-bottom: 25px;
}

.features-list p,
.service-item p {
  margin: 0;
  padding: 0 55px;
}

.line-feature-item {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  color: #ffffff;

  background-color: #81b3d2;
}

.line-feature-item h2 {
  font-weight: 700;
  color: #ffffff;
}

.feature-number::before,
.feature-number::after {
  content: "-";
}

.feature-photo {
  display: inline-block;
  width: 800px;
}

.feature-photo-1 {
  background-image: url("../img/sedona_view.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.feature-photo-2 {
  background-image: url("../img/bridge.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 0;


  background-color:#ffffff;
}

.box-service-item {
  padding-top: 60px;
  padding-bottom: 80px;
}

.service-icon {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 80px;
  height: 80px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-icon-house {
  background-image: url("../img/icon-1.svg");
}

.service-icon-food {
  background-image: url("../img/icon-2.svg");
}

.service-icon-souvenirs {
  background-image: url("../img/icon-3.svg");
}

.book {
  width: 1200px;

  text-align: center;
}

.book-intro {
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.book-intro h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 315px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.book-intro>p {
  margin: 0;
  padding: 0 315px;
  margin-bottom: 50px;
}

.book-search {
  position: absolute;
  z-index: 10;
  top: 163px;
  left: 50%;
  transform: translateX(-50%);

  width: 570px;

  background: #ffffff;
  background-size: 481px;
}

.button-search-form {
  width: 100%;
  padding: 30px 84px;
  margin: 0;
  margin-bottom: 55px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 460px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-item {
  position: relative;
  width: 100%;

  margin: 0;
  margin-bottom: 30px;
}

.search-item-number {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;
}

.search-item-number input {
  text-align: center;
}

.search-item-number p {
  margin: 0;
  padding: 0;
}

p.search-item-adult {
  margin-right: auto;
}

p.search-item-child {
  margin-left: auto;
}


.search-item label {
  display: inline-block;
  min-width: 92px;
  margin-right: 18px;
}

.search-item-adult label {
  text-align: left;
}

.search-item-child label {
  text-align: right;
}

.search-form input {
  box-sizing: border-box;

  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 700;
  border: none;

  padding: 10px 12px;
}

.search-item .calendar {
  position: absolute;
  top: 7px;
  right: 7px;

  fill: #cacaca;

  cursor: pointer;
}

.search-item .calendar:hover,
.search-item .calendar:focus {
  fill: #000000;
}

.search-item .calendar:active {
  fill: #81b3d2;
}

.search-form input[type="text"] {
  width: 346px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.search-form input[id="search-adult"],
.search-form input[id="search-child"] {
  width: 114px;
  padding-left: 30px;
}

.search-form input:hover,
 {
  background-color: #ebebeb;
  outline: none;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 1px solid #ebebeb;
}

.button-show {
  width: 100%;
  padding: 16px 30px;
  margin: 0;
  margin-bottom: 55px;
}

.map {
  width: 100%;
  padding: 0;
  margin-top: 135px;
}

.map img {
  display: block;
}



.button {
  text-transform: uppercase;
  font-weight: 700;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.button-search-form,
.button-show {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.button-book,
.button-more {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button-search-form,
.button-book {
  color: #ffffff;
}

.button-search-form:hover,
.button-search-form:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
  outline: none;
}

.button-search-form:active,
.button-book:active {
  background-color: #503e33;
  color: #cacaca;
}

.button-show,
.button-more {
  background-color: #81b3d2;
}

.button-show:hover,
.button-show:focus,
.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
  outline: none;
}

.button-show:active,
.button-more:active {
  background-color: #5496bd;
  color: #cacaca;
}

.main-footer {
  margin: 0;
  padding: 36px 0;
  width: 100%;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-index-page {
  position: absolute;
  z-index: 2;
  transform: translateY(-100%);
}

.main-footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .main-footer p {
  padding-left: 60px;
  margin: 0;
  margin-right: 88px;
  width: 180px;

}

.footer-social {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 0;
  width: 150px;
  list-style: none;

  margin: 0 auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.main-footer a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

a #twitter,
a #facebook,
a #youtube {
  fill: #ffffff;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

a:active #twitter,
a:active #facebook,
a:active #youtube {
  fill: #88b6d1;
}

.main-footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 25px;
}

.main-footer-logo p {
  margin: 0;
  padding: 0;
  padding-right: 7px;
  width: 75px;

  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.main-footer-logo a {
  line-height: 0;
}

a #htmlacademy {
  fill: #000000;
}

#htmlacademy {
  width: 115px;
}

a:hover #htmlacademy,
a:focus #htmlacademy {
  fill: #81b3d2;
}

a:active #htmlacademy {
  fill: #bdbbbc;
}



/* catalog */

.filters {
  width: 1200px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  background-image: url("../img/bk-catalog.jpg");
  background-color: #5986ae;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;

  margin-bottom: 25px;;
}

.filter-form-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.filter-form {
  line-height: 21px;
  color: #ffffff;
}

.filter-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-list li {
  padding: 0;
  padding-left: 40px;
  margin-bottom: 23px;
}

.filter-infrastructure {
  width: 241px;
  padding: 0;
  margin: 0;

  text-align: left;
}

.filter-type-hotel {
  padding: 0;
  padding-left: 15px;
  margin: 0;

  text-align: left;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -40px;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-price-button {
  padding: 0;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-price {
  width: 320px;
  padding: 0;
  padding-left: 11px;
  margin: 0;
}

.filter-price legend {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  color: #ffffff;

  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.filter-show:hover {
  color: #000000;

  background: #ffffff;

  outline: none;
}

.catalog-sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 23px 0;
}

.catalog p {
  margin: 0;
  margin-right: 50px;
  padding: 0;

  text-align: left;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  display: flex;
  margin: 0;
  padding: 0;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting h3 {
  margin-right: 40px;

  font-size: 12px;
  font-weight: 400;
}

.sorting-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0 auto;

  list-style: none;
}

.sorting-list li {
  margin-right: 30px;
}

.sorting-button {
  margin-left: auto;
}

.sorting-down {
  padding-right: 10px;
}

.sorting a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting-current {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

a #sorting {
  fill: #bdbbbc;
}
a:hover #sorting,
a:focus #sorting {
  fill: #000000;
}

a:active #sorting {
  fill: #81b3d2;
}

.sorting-button-current {
  fill: #81b3d2;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 25px;
}

.hotel-photo {
  width: 135px;
  height: 90px;
  margin-top: 5px;
  margin-right: 30px;
}

.hotel-photo img {
  display: block;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

}

.hotel-name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.hotel-info h3 {
  max-width: 560px;

  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #ebebeb;
}

p.type-hotel,
p.price-hotel {
  margin: 0;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 0;

  min-width: 110px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.hotel-info-wrapper {
  display: flex;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: space-between;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-right: 3px;
}

p.price-hotel {
  margin-right: auto;
}

.button-more {
  margin-right: 116px;
}

.hotel-list .button {
  display: inline-block;
  margin: 0;
  margin-right: 3px;
  padding: 3px 15px;
}

.hotel-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0;
  align-items: flex-end;

  margin-left: auto;

}

.raiting {
  padding: 5px 15px;

  background-color: #f2f2f2;
  background-size: 111px 27px;
  background-position: right center;

  text-align: center;
}

.stars {
  display: inline-block;
  margin-bottom: auto;
  width: 18px;
  height: 16px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: repeat;
}

a:focus {
  outline: none;
}
